<footer class="my-20 bg-black p-8">
  <p class="text-center text-sm text-white">
    Copyright © {new Date().getFullYear()}. All rights reserved.
  </p>
  <p class="text-center text-xs text-white mt-1">
    MADE BY <a
      href="#"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      ORACLE HUNTERS
    </a>
  </p>
</footer>
